<p><%= t.views.new.description1 %></p>

<p><%= t.views.new.description2 %></p>

<% if not @user.email_error? %>
  <p class="alert alert-dismissible alert-danger"><%= t.views.new.email_unique_error(session[:email]) %></p>
<% end %>

<form action="/accounts/user" role="form" method="post">

  <%= form_field(@user, "first_name", "text") %>

  <%= form_field(@user, "last_name", "text") %>

  <%= form_field(@user, "username", "text") %>

  <%= form_field(@user, "telephone_number", "text") %>

  <div class="form-group">
    <label for="user_language"><%= t.views.new.locale %>:</label>
    <select name="user[locale]" class="form-control">
      <% CONFIG["locales"].each do |locale| %>
      <option value="<%= locale %>"><%= t.views.new.locale_key.send(locale) %></option>
      <% end %>
    </select>
  </div>

  <%= form_field(@user, "password", "password") %>

  <%= form_field(@user, "password_confirmation", "password") %>

  <div class="form-group">
    <input class="btn primary" type="submit" value="<%= t.views.new.submit %>">
  </div>

</form>
