<p><%= t.views.new.description %></p>
<form action="/" role="form" method="post">

  <%= form_field(@user, "first_name") %>

  <%= form_field(@user, "last_name") %>

  <%= form_field(@user, "username") %>

  <%= form_field(@user, "email") %>

  <%= form_field(@user, "telephone_number") %>

  <div class="form-group">
    <label for="user_language"><%= t.views.new.locale %>:</label>
    <select name="user[locale]" class="form-control">
      <% CONFIG["locales"].each do |locale| %>
      <option value="<%= locale %>"><%= t.views.new.locale_key.send(locale) %></option>
      <% end %>
    </select>
  </div>

  <%= form_field(@user, "password") %>

  <%= form_field(@user, "password_confirmation") %>

  <div class="form-group">
    <input class="btn primary" type="submit" value="<%= t.views.new.submit %>">
  </div>

</form>
