<p><%= t.views.new.description %></p>
<form action="/" role="form" method="post">
  <div class="form-group">
    <label for="user_first_name"><%= t.views.new.first_name %>:</label>
    <%= text_field(@user, "first_name" ) %>
  </div>

  <div class="form-group">
    <label for="user_last_name"><%= t.views.new.last_name %>:</label>
    <%= text_field(@user, "last_name" ) %>
  </div>

  <div class="form-group">
    <label for="user_username"><%= t.views.new.username %>:</label>
    <%= text_field(@user, "username" ) %>
  </div>

  <div class="form-group">
    <label for="user_email"><%= t.views.new.email %>:</label>
    <%= text_field(@user, "email" ) %>
  </div>

  <div class="form-group">
    <label for="user_telephone_number"><%= t.views.new.telephone_number %>:</label>
    <%= text_field(@user, "telephone_number" ) %>
  </div>

  <div class="form-group">
    <label for="user_language"><%= t.views.new.locale %>:</label>
    <select name="user[locale]" class="form-control">
      <% CONFIG["locales"].each do |locale| %>
      <option value="<%= locale %>"><%= t.views.new.locale_key.send(locale) %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label for="user_password"><%= t.views.new.password %>:</label>
    <input type="password" name="user[password]" class="form-control" id="user_password">
  </div>

  <div class="form-group">
    <label for="user_password_confirmation"><%= t.views.new.password_confirmation %>:</label>
    <input type="password" name="user[password_confirmation]" class="form-control" id="user_password_confirmation">
    <%= show_error_message(@user, "password_confirmation") %>
  </div>

  <div class="form-group">
    <input class="btn primary" type="submit" value="<%= t.views.new.submit %>">
  </div>

</form>
