<p><%= t.views.new.description %></p>
<form role="form">
  <div class="form-group">
    <label for="user_first_name"><%= t.views.new.first_name %>:</label>
    <input type="text" name="user[first_name]" class="form-control" id="user_first_name">
  </div>

  <div class="form-group">
    <label for="user_last_name"><%= t.views.new.last_name %>:</label>
    <input type="text" name="user[last_name]" class="form-control" id="user_last_name">
  </div>

  <div class="form-group">
    <label for="user_username"><%= t.views.new.username %>:</label>
    <input type="text" name="user[username]" class="form-control" id="user_username">
  </div>

  <div class="form-group">
    <label for="user_email"><%= t.views.new.email %>:</label>
    <input type="text" name="user[email]" class="form-control" id="user_email">
  </div>

  <div class="form-group">
    <label for="user_telephone_number"><%= t.views.new.telephone_number %>:</label>
    <input type="text" name="user[telephone_number]" class="form-control" id="user_telephone_number">
  </div>

  <div class="form-group">
    <label for="user_language"><%= t.views.new.locale %>:</label>
    <select name="user[locale]" class="form-control">
      <% @locales.each do |locale| %>
      <option value="<%= locale %>"><%= t.views.new.locale_key.send(locale) %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label for="user_password"><%= t.views.new.password %>:</label>
    <input type="text" name="user[password]" class="form-control" id="user_password">
  </div>

  <div class="form-group">
    <label for="user_password_confirmation"><%= t.views.new.password_confirmation %>:</label>
    <input type="text" name="user[password_confirmation]" class="form-control" id="user_password_confirmation">
  </div>

</form>
